## Demo funciones pandas

In [2]:
%pylab inline
# importando pandas usando la convención
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [10]:
# Cargar base de datos imdb de titulos de peliculas
titulos = pd.read_csv('data/titles.csv', encoding='utf-8' )

titulos.head()

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

In [32]:
# Cargar base de datos de elenco de peliculas, de imdb
elenco = pd.read_csv('data/cast.csv', encoding='utf-8')
elenco.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [11]:
# Cuantas peliculas estan listadas en el dataframe de titulos?
len(titulos)

230407

In [12]:
# Cuales son las peliculas mas antiguas listadas en titulos?
titulos.sort_values('year').head()

                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900

### Revisaremos comandos basicos pandas, sobre estas series

In [17]:
t = titulos
t['title'].value_counts().head()

Hamlet                  19
Carmen                  16
Macbeth                 15
Othello                 11
The Three Musketeers    11
Name: title, dtype: int64

In [20]:
t = titulos
t.sort_values('year').head()

                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900

In [21]:
t[t.title == "Dracula"]

          title  year
30479   Dracula  1992
35229   Dracula  1958
62596   Dracula  1999
94156   Dracula  1931
156968  Dracula  2019
184003  Dracula  1979

In [24]:
t[t.title == "Romeo and Juliet"].sort_values('year')

                   title  year
124702  Romeo and Juliet  1916
82622   Romeo and Juliet  1936
147308  Romeo and Juliet  1947
87037   Romeo and Juliet  1954
196039  Romeo and Juliet  1966
185337  Romeo and Juliet  1968
144796  Romeo and Juliet  2013
16975   Romeo and Juliet  2014

In [25]:
t[t.title.str.contains("Wars")].sort_values('year').head()

                                                  title  year
122255                               The Man o' Warsman  1914
105847  The War of Wars; Or, The Franco-German Invasion  1914
70439                                   The Indian Wars  1914
90148                        Meine Cousine aus Warschau  1931
81083                                   Parada Warszawy  1937

In [30]:
len( t[ (t.year > 1960) & (t.year < 1965) ] )

6325

In [31]:
len( t[ t.year // 10 == 197 ] )197

18508

In [46]:
# "The Godfather" cuantos papeles hubo en la pelicua 
e = elenco
e = e[e.title == "The Godfather"] # .sort_values('n')
e = e[e.n.notnull()].sort_values('n',ascending=False)
e

,title,year,name,type,character,n
2210716,The Godfather,1972,Saro Urz?,actor,Vitelli - Sicilian Sequence,34.0
403361,The Godfather,1972,Franco Citti,actor,Calo - Sicilian Sequence,33.0
748995,The Godfather,1972,Corrado Gaipa,actor,Don Tommasino - Sicilian Sequence,32.0
1015341,The Godfather,1972,Angelo Infanti,actor,Fabrizio - Sicilian Sequence,31.0
3399922,The Godfather,1972,Simonetta Stefanelli,actress,Apollonia - Sicilian Sequence,30.0
3360381,The Godfather,1972,Ardell Sheridan,actress,Mrs. Clemenza,29.0
2811070,The Godfather,1972,Julie Gregg,actress,Sandra Corleone,28.0
3020378,The Godfather,1972,Jeannie Linero,actress,Lucy Mancini,27.0
1808526,The Godfather,1972,Victor Rendina,actor,Philip Tattaglia,26.0
3023908,The Godfather,1972,Tere Livrano,actress,Theresa Hagen,25.0
1952800,The Godfather,1972,Vito Scotti,actor,Nazorine,24.0
795073,The Godfather,1972,Tony Giorgio,actor,Bruno Tattaglia,23.0
1847779,The Godfather,1972,Alex Rocco,actor,Moe Greene,22.0
259495,The Godfather,1972,Richard Bright,actor,Neri,21.0
453023,The Godfather,1972,Salvatore Corsitto,actor,Bonasera,20.0
1381650,The Godfather,1972,John Martino,actor,Paulie Gatto,19.0
1497435,The Godfather,1972,Lenny Montana,actor,Luca Brasi,18.0
2950705,The Godfather,1972,Morgana King,actress,Mama Corleone,17.0
1381599,The Godfather,1972,Al Martino,actor,Johnny Fontane,16.0
220852,The Godfather,1972,Rudy Bond,actor,Cuneo,15.0
355932,The Godfather,1972,John Cazale,actor,Fredo,14.0
1888284,The Godfather,1972,Gianni Russo,actor,Carlo,13.0
3363276,The Godfather,1972,Talia Shire,actress,Connie,12.0
2244677,The Godfather,1972,Abe Vigoda,actor,Tessio,11.0
2935727,The Godfather,1972,Diane Keaton,actress,Kay Adams,10.0
1260607,The Godfather,1972,Al Lettieri,actor,Sollozzo,9.0
437796,The Godfather,1972,Richard Conte,actor,Barzini,8.0
1368787,The Godfather,1972,John Marley,actor,Jack Woltz,7.0
918579,The Godfather,1972,Sterling Hayden,actor,Capt. McCluskey,6.0
613255,The Godfather,1972,Robert Duvall,actor,Tom Hagen,5.0
349145,The Godfather,1972,Richard S. Castellano,actor,Clemenza,4.0
306807,The Godfather,1972,James Caan,actor,Sonny Corleone,3.0
1642816,The Godfather,1972,Al Pacino,actor,Michael Corleone,2.0
248000,The Godfather,1972,Marlon Brando,actor,Don Vito Corleone,1.0

In [45]:
len(elenco)

3564650

### Ejercicios

In [1]:
# Cuantas peliculas estan listadas por el nombre "Dracula" ?

In [2]:
# Titulos mas comunes en la historia filmografica

In [3]:
# Cual fue la primer pelicula hecha titulada "Romeo and Juliet" ?

In [4]:
# Listar todas las peliculas que contengan la palabra "Exorcist" 
# ordenadas de la mas vieja a la mas reciente.

In [5]:
# Cuantas peliculas fueron hechas en el año 1950?

In [6]:
# Cuantas peliculas fueron hechas en el año 1970?

In [7]:
# Cuantas peliculas fueron hechas de 1950 a 1959

In [8]:
# En que años alguna pelicula llamada "Batman" se presento

In [9]:
# Cuantos roles o papeles hubo en la pelicula "The Godfather"

In [10]:
# Cuantos papeles en la pelicula "The Godfather" no estan clasificados en algun valor "n"

In [11]:
# Cuantos papeles en la pelicula "The Godfather" si estuvieron clasificados con un valor "n"

In [12]:
# Mostrar el elenco completo de la pelicula "2001: A Space Odyssey" 
# ordenado por su clasificasión "n", ignorando los papeles que 
# no se les asigno ningun valor "n"

In [13]:
# Mostrar el elenco completo ordenado por la clasificacion "n"
# de la pelicula "Dracula" de 1958

In [14]:
# Cuantos papeles fueron listados en la pelicula "The Wizard of Oz" de 1939

In [15]:
# Cuantos papeles de "Bruce Wayne" han sido hechos en la historia 
# de las peliculas

In [16]:
# Cuanta gente ah hecho el papel de "Romeo"

In [17]:
# Cuantos papeles ah hecho "Robert De Niro" en su carrera

In [18]:
# Listado de papeles de soporte que tuvo el actor "Charlton Heston" en
# la decada de los 50's, ordenado por año

In [19]:
# Listado de papeles como protagonista que tuvo el actor "Charlton Heston" en
# la decada de los 60's, ordenado por año de forma descendente

In [20]:
# ¿Cuantos papeles para actores hubo en la decada de los 50's?

In [21]:
# ¿Cuantos papeles para actrices hubo en la decada de los 50's ?

In [22]:
# ¿Cuantos papeles protagonicos existen desde el principio de
# la historia filmatografica hasta 1970 ?